@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: rgb(0, 0, 0);
  --color-blue: rgb(81, 47, 235);
  --color-primary-text: rgb(255, 255, 255);
  --color-secondary-text: rgba(255, 255, 255, 0.7);
  --color-card-background: rgba(255, 255, 255, 0.06);
}

/* Typography Styles */

.text-heading-1 {
  font-family: 'Outfit', sans-serif;
  font-size: 72px;
  line-height: 1.1em;
  letter-spacing: -0.04em;
  text-align: center;
  font-weight: 500;
}

.text-heading-2 {
  font-family: 'Outfit', sans-serif;
  font-size: 48px;
  line-height: 1.2em;
  letter-spacing: -0.03em;
  text-align: center;
  font-weight: 500;
}

.text-body-m {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  text-align: center;
  font-weight: 300;
}
