@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: rgb(0, 0, 0);
  --color-blue: rgb(81, 47, 235);
  --color-primary-text: rgb(255, 255, 255);
  --color-secondary-text: rgba(255, 255, 255, 0.7);
  --color-card-background: rgba(255, 255, 255, 0.06);
  --color-border: rgba(255, 255, 255, 0.1);
  --color-badge-color: rgb(13, 13, 13);
  --color-cards-ui-1: rgba(255, 255, 255, 0.15);
  --color-cards-ui-2: rgba(255, 255, 255, 0.12);
  --color-cards-blue-accent: rgba(81, 47, 235, 0.7);
  --color-cards-card-text: rgba(255, 255, 255, 0.8);
  --color-cards-card-lines: rgba(255, 255, 255, 0.2);
  --color-cards-ui-3: rgba(255, 255, 255, 0.2);
  --color-dark: rgb(49, 49, 49);
}

/* Typography Styles */

.text-heading-1 {
  font-family: 'Outfit', sans-serif;
  font-size: 60px;
  line-height: 1.1em;
  letter-spacing: -0.02em;
  text-align: center;
  font-weight: 500;
}

.text-heading-2 {
  font-family: 'Outfit', sans-serif;
  font-size: 50px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  text-align: left;
  font-weight: 500;
}

.text-heading-3 {
  font-family: 'Outfit', sans-serif;
  font-size: 40px;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  text-align: center;
  font-weight: 500;
}

.text-heading-4 {
  font-family: 'Inter-Bold', sans-serif;
  font-size: 22px;
  line-height: 1.4em;
  letter-spacing: -0.04em;
  text-align: left;
}

.text-heading-5 {
  font-family: 'Inter-Bold', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: -0.04em;
  text-align: left;
}

.text-heading-6 {
  font-family: 'Inter-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  text-align: left;
}

.text-body-xxs {
  font-family: 'Outfit', sans-serif;
  font-size: 12px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  text-align: left;
  font-weight: 300;
}

.text-body-xs {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: 0px;
  text-align: left;
  font-weight: 400;
}

.text-body-m {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  text-align: center;
  font-weight: 400;
}

.text-body-s-light {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  text-align: left;
  font-weight: 300;
}

.text-body-xxxs {
  font-family: 'Outfit', sans-serif;
  font-size: 10px;
  line-height: 1.2em;
  letter-spacing: -0.04em;
  text-align: left;
  font-weight: 300;
}

.text-card-title {
  font-family: 'Outfit', sans-serif;
  font-size: 22px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  text-align: left;
  font-weight: 400;
}

.text-card-content {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  text-align: left;
  font-weight: 400;
}

.text-blog-heading {
  font-family: 'Outfit', sans-serif;
  font-size: 32px;
  line-height: 1.3em;
  letter-spacing: -0.02em;
  text-align: left;
  font-weight: 500;
}

.text-blog-subheading {
  font-family: 'Outfit', sans-serif;
  font-size: 24px;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  text-align: left;
  font-weight: 500;
}

.text-blog-body {
  font-family: 'Outfit', sans-serif;
  font-size: 17px;
  line-height: 1.7em;
  letter-spacing: -0.01em;
  text-align: left;
  font-weight: 400;
}
